h1{
    margin-bottom:100px;
    text-align: center;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 4, 4);
}

.chicken,.beef,.sushi{
    padding: 3px;
    border: black solid 1px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin:4px;
    box-sizing: border-box;
    background-color: rgb(194, 187, 187);
}

p{
    width:90%;
    margin-top: 45px;
    
}
.title{
    float: right;
    border: 1px solid black;
    font-weight: 550;
    font-size:1.25em;
    border-radius: 2px;    
}

.chicken>.title{
    background-color: rgb(240, 161, 161);
}

.beef>.title{
    background-color: rgb(171, 242, 208);
}

.sushi>.title{
    background-color: rgb(246, 227, 200);
}

.box-set{
    width: 100%;
}
@media (min-width:992px){
    .col-lg-4{
        width: 32%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        width:49%;
    }
    .col-md-12{
        width:99%
    }
}
